.headerContainer {
    display: flex;
    background-color: rgb(240, 233, 143);
    align-items: center;
}
.headerLogo {
    height: 15vmin;
    pointer-events: none;
}
.headerContainer h2 {
    flex-grow: 1;
}