.reactPlayer {
    background-color: khaki;
    padding: 10px;
}
.film {
    display:-webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: auto;
    width: 640px;
    height: 360px;
}
.imie {
    margin-top: 10px;
}
@media screen and (max-width: 1025px) {
    .contentsFlex {
        -webkit-flex-drection: column;
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
}
@media screen and (max-width: 769px) {
    .contentsFlex {
        -webkit-flex-drection: column;
        flex-direction: column;
        align-items: center;
        padding: 0 10px 0 10px;
    }
    .film {
        width: 320px;
        height: 180px;
        margin: auto;
    }
}