.header {
    display: flex;
    background-color: rgb(231, 183, 79);
    align-items: center;
}
.logo {
    width: 140px;
    height: 140px;
    pointer-events: none;
}
.header h2 {
    flex-grow: 1;
}
@media screen and (max-width: 1025px) {
    .logo {
        min-width: 140px;
        min-height: 140px;
    }
}
@media screen and (max-width: 769px) {
     .logo {
         min-width: 140px;
         min-height: 140px;
     }
}