.contentDivClass {
    background-color: yellowgreen;
}
.contentsFlex {
    display:-webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
}
.contentsFlexImg {
    float: left;
    padding: 20px;
    max-height: 180px;
    max-width: 320px;
}
.contentsFlexTxt {
    align-self: stretch;
    text-align: justify;
    padding-right: 20px;
}
@media screen and (max-width: 1025px) {
    .contentsFlex {
        -webkit-flex-drection: column;
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
}
@media screen and (max-width: 769px) {
    .contentsFlex {
        -webkit-flex-drection: column;
        flex-direction: column;
        align-items: center;
        padding: 0 10px 0 10px;
    }
}